{% extends "templates/partials/base.twig" %}

{% block title %} LMS - Add Books {% endblock %}

{% block body %}
<header>
    <nav>
        <ul class="navbar form-inline">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class ="nav-link" href="/signout"><button>Signout</button></a>
            </li>
        </ul>
    </nav>
</header>
<div class="main text-center">
    <form method="POST" action="/add" style="max-width: 480px;margin:auto;">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <input type="text" name="bname" class="form-control mt-2" placeholder="Book Name">
        <input type="text" name="author" class="form-control mt-2" placeholder="Author">
        <input type="text" name="type" class="form-control mt-2" placeholder="Type">
        <input type="text" name="isbn" class="form-control mt-2" placeholder="ISBN 13">
        <input type="submit" value="Add" class="btn btn-lg btn-primary btn-block">
    </form>
</div>
{% endblock %}