{% extends "templates/partials/base.twig" %}

{% block title %} LMS - Issues {% endblock %}

{% block body %}
<header>
    <nav class="nav justify-content-center" id="navbar">
        <ul class="navbar form-inline" id="nav-items">
            <li class="nav-item">
                <a class="nav-link" href="/"><button class="btn btn-primary btn-block">Home</button></a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" href="/signout"><button class="btn btn-primary btn-block">Signout</button></a>
            </li>
        </ul>
    </nav>
</header>
<div class="results">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Enrollment Number</th>
                <th scope="col">Book ID</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr>
                <th>{{ user.USERID }}</th>
                <td>{{ user.NAME }}</td>
                <td>{{ user.ENO }}</td>
                <td>{{ user.BOOKID }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}